<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-button [routerLink]="''">
      <mat-icon aria-hidden="false" class="example-icon" aria-label="Example home icon">home</mat-icon>
      <span>Início</span>
    </button>

    <button mat-button [routerLink]="'produtos'">
      <span>Produtos</span>
    </button>

    <button mat-button [routerLink]="'pedidos'">
      <span>Histórico de Pedidos</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="abrirCarrinho()">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example icon">shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
