.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  font-size: 22px;
  padding-right: 2px;
}

.opcao {
  height: 100%;
}

.mat-toolbar-row {
  max-height: 50px;
  min-height: 50px;
  height: 50px;
}

.mat-toolbar{
  max-height: 50px;
  min-height: 50px;
  height: 50px;
}